* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  font-size: 14px;
}

#page {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #666;
  overflow: auto;
  padding: 20px;
  margin-bottom: 20px;
}
header h1 {
  /* float: left; */
}
header h2 {
  /* float: right; */
  margin-top: 20px;
  color: red;
}

form {
  padding-left: 12px;
  padding-right: 12px;
}

form .form-group {
  margin-bottom: 16px;
}
form .form-group label {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 6px;
}
form .form-group input,
form .form-group select {
  display: block;
  font-size: 16px;
  width: 97%;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 9px;
}

form .button-group {
  text-align: center;
}
form .button-group a {
  font-weight: bold;
  text-decoration: none;
  color: red;
}
form .button-group a:hover {
  text-decoration: underline;
  background-color: red;
  color: #fff;
}

form button {
  border: 1px solid #ccc;
  background-color: #666;
  padding: 9px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transition: all 1s;
  cursor: pointer;
  margin-right: 10px;
}
form button:hover {
  background-color: blue;
  padding: 20px;
}

footer {
  border-top: 2px solid #666;
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}
footer p {
  font-size: 10px;
  font-weight: bold;
}
